/**************************/
/* BELOW 1616px */
/**************************/

/* @media (max-width: 101em) {
  .heading-primary {
    font-size: 15rem;
  }
} */

/**************************/
/* BELOW 1488px */
/**************************/

@media (max-width: 94em) {
  .mypic {
    height: 15rem;
  }

  .grid {
    column-gap: 3.5rem;
    row-gap: 6rem;
  }

  .skills {
    margin: 0rem 3rem 10rem 3rem;
  }

  .works {
    margin: 0 0 15rem 0;
  }

  .work-img {
    width: 100%;
  }

  .skills {
    margin: 0rem 0 10rem 0;
  }

  .contact {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 1216px (Landscape Tablets) */
/**************************/

@media (max-width: 76em) {
  .container {
    padding: 0 4rem;
  }

  .name-kanji {
    margin-top: -1rem;
  }

  .introduce {
    margin-bottom: 8rem;
  }

  .introduce-detail {
    column-gap: 2rem;
  }

  .aboutme {
    margin-bottom: 5rem;
  }

  .container-num {
    display: initial;
    /* margin-bottom: 4rem; */
  }

  .number-text-box {
    margin-bottom: 2rem;
  }

  .number-flex .number-text-box .detail {
    margin-bottom: 0;
  }

  .number-flex {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .lazy-img-flex {
    order: 1;
  }

  .detail {
    margin-bottom: 2rem;
  }

  .number-img {
    margin-bottom: 4rem;
  }

  .works {
    display: inline-block;
    padding-bottom: 0;
  }

  .work-01 {
    margin-bottom: 4rem;
  }

  .contact {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 1056px (Tablets) */
/**************************/

@media (max-width: 66em) {
  .introduce-detail {
    display: inline-block;
  }

  .mypic {
    margin-bottom: 4rem;
    box-shadow: -3rem 2rem 0px #dd2d67;
  }

  .br-sm {
    display: inline;
  }

  .contact {
    line-height: 4rem;
  }

  .section-skills {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .skills {
    margin: 0 1rem 10rem 1rem;
  }
}

/**************************/
/* BELOW 864px (Smaller tablets) */
/**************************/

@media (max-width: 55em) {
  .hero-text {
    display: none;
  }

  .heading-primary {
    display: block;
    font-size: 7rem;
  }

  .name-kanji {
    display: block;
    font-size: 7rem;
  }

  .hero-description {
    display: inline-block;
  }

  .section-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 736px  */
/**************************/
@media (max-width: 46em) {
  .container {
    padding: 0 3rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 0.8rem;
  }

  .header {
    margin-top: 15rem;
  }

  .heading-primary {
    font-size: 7rem;
  }

  .main-nav-list {
    height: 1rem;
    gap: 1.2rem;
  }

  .name-kanji {
    font-size: 5rem;
    margin-top: -0.8rem;
  }

  .introduce-text {
    margin-left: -2rem;
    font-size: 1.4rem;
  }

  .language {
    font-size: 0.5rem;
  }

  .works {
    margin: 0 3rem 7rem 3rem;
  }

  .section-skills {
    margin: 0;
  }

  .footer {
    padding: 5rem 0.5rem;
  }

  .contact {
    font-size: 2.5rem;
  }
}

/**************************/
/* BELOW 560px  */
/**************************/
@media (max-width: 35em) {
  .header {
    margin-top: 13rem;
  }

  .heading-primary {
    font-size: 5.5rem;
  }

  .name-kanji {
    font-size: 4.5rem;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  .detail {
    font-size: 0.8rem;
  }

  .section-skills {
    display: initial;
  }

  .skill {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 2rem;
    margin-bottom: 3rem;
  }

  .contact {
    display: inline-block;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.2rem;
  }

  .br-sm {
    display: none;
  }

  .copyright {
    font-size: 0.5rem;
  }
}
