/* //////////////////////////////// */
/* color: #9775fa #b197fc #d0bfff #e5dbff #f3f0ff  */
/* color: #D3BAAD #D4AEB4 #E2D2CA #B68D77 */
/* color: #DABAB3 #EDDDD9 #F7F0EF*/
/* color: #B1D1E4 #F4D3E9 #DD2D67 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Display', serif;
}

html {
  font-size: 62.5%;
  font-size: 0.9rem;
  /* overflow-x: hidden; */
  /* background-color: #fbf7f7; */
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  transition: 2s;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 6rem;
  margin: 0 auto;
}

/* .container {
 
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
} */

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem !important;
}

/* .grid--footer {
} */

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
  margin-bottom: 5rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
  padding: 0.5rem 0 2rem 0;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #9fe2bf;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #9fe2bf;
  border-bottom: 1px solid transparent;
}

.br-sm {
  display: none;
}

/**************************/
/* navigation */
/**************************/

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  /* align-items: center; */
  background-color: black;

  /* Because we want header to be sticky later */
  height: 2rem;
  padding: 0 4.8rem;
  position: relative;
}

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Serif Display', serif;

  gap: 3.2rem;
  color: white;
  font-weight: 800;
  cursor: pointer;

  /* background-color: black; */
}

.main-nav-list a {
  position: relative;
}

.main-nav-list a::after {
  position: absolute;

  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  bottom: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.main-nav-list a:hover::after {
  visibility: visible;
  bottom: -0.2rem;
  opacity: 1;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  color: white;

  /* font-weight: 500; */
  font-size: 1.2rem;
  transition: all 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.icon-mobile-open,
.icon-mobile-close {
  opacity: 0;
}

/**************************/
/* header */
/**************************/

.section-header {
  /* padding: 25rem auto 15rem 3rem; */

  margin-top: 40rem;
  margin-left: -3rem;
  margin-bottom: 15rem;
  /* padding-bottom: 15rem; */
  display: flex;
  flex-flow: column;
  /* background-color: #fdf2e9; */
  /* padding: 20rem 0 20rem -3rem; */
  /* align-items: center; */
  /* justify-content: center; */
  /* grid-template-columns: 3fr 1fr; */
}

.heading-primary {
  font-family: 'Noto Serif Display', serif;
  /* font-size: 37rem; (文字大きいver) */
  font-size: 18vw;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}

/* h1 .header-text {
  animation: anim 3s forwards;
} */

.name-kanji {
  font-family: 'Noto Serif Display', serif;
  padding: 0;
  margin-top: -1.8rem;
  margin-bottom: 35rem;

  /* margin-left: 0.5rem; */
  /* padding: -30rem 0 0 20rem; */
  font-size: 12vw;
  font-weight: 900;
  color: rgba(244, 211, 233, 0.548);
  letter-spacing: 2px;
}

.is-animation {
  padding: 2em 0;
  font-size: 1em;
}
/* 
.header-img {
  height: 20rem;
  border-radius: 50%;
} */

/* .header--hidden {
  opacity: 0;
  transform: translateY(8rem);
} */

/**************************/
/* introduce */
/**************************/

.introduce {
  margin-top: 5rem;
  margin-bottom: 20rem;
}

.introduce-detail {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 4.5rem;

  align-items: center;
  margin-left: 4rem;
}

.mypic {
  height: 22rem;
  border-radius: 50%;
  /* box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5); */
  box-shadow: -5rem 3rem 0px #dd2d67;
}

.introduce-text {
  font-size: 1.8rem;
  font-family: lato;
  font-weight: 300;
  line-height: 3rem;
}

/**************************/
/* about me */
/**************************/

.aboutme {
  margin-bottom: 20rem;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */

  align-items: center;
}

.container-num {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  /* row-gap: 5rem; */

  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
}

/* .heading-box {
  margin-left: 4rem;
} */

.subheading {
  display: block;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #dd2d67;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  letter-spacing: 0.75px;
}
/* 
.number-text-box {
  margin-bottom: 5rem;
} */

.lang {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5rem;
}

.lang-icon {
  color: #da678d;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #f4d3e9;
  /* margin-bottom: 2.2rem; */
  /* padding: 1.6rem; */
  border-radius: 50%;
}

.language {
  color: #777;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.number-img {
  /* height: 25rem; */
  width: 100%;
}

.lazy-img {
  width: 0%;
}

.number {
  font-family: 'Noto Serif Display', serif;
  font-size: 8.2rem;
  font-weight: 900;
  color: #eee;
}

.detail-en {
  font-family: sans-serif;
  line-height: 1.5;
}

.detail-jp {
  display: none;
}

.detail:hover .detail-en {
  display: none;
}

.detail:hover .detail-jp {
  display: block;
  font-family: sans-serif;
  line-height: 1.5;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* .number-flex {
  display: flex;
  flex-direction: row;
  row-gap: 0;
} */

/* .lazy-img-flex {
  width: 100%;
} */

/* 
.number-text-box1 {
  grid-column-start: 1;
  grid-column-end: 3;
} */

/**************************/
/* my works */
/**************************/

.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  margin: 0 5rem 15rem 5rem;
  padding-bottom: 10rem;
}

.work {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
}

.work-img {
  /* height: 18rem; */
  width: 95%;
  height: 100%;
  margin-bottom: 1.5rem;
  /* border: 5px outset #eee; */
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);
}

.works-link {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  width: 15rem;
  height: 2.5rem;
  /* padding: 0.75rem 2rem 0.75rem 4rem; */
  color: #ddd;
  font-family: sans-serif;
  padding: 0.75rem;
  text-align: center;
}

.work-02 {
  height: 85%;
}

.btn,
.btn:link,
.btn:visited {
  display: block;
  /* text-align: center; */
  /* justify-self: center; */

  /* text-decoration: none; */
  /* font-size: 2rem; */
  /* font-weight: 600; */
  /* padding: 1.6rem 3.2rem; */
  border-radius: 9px;
  background-color: #999;
  margin-top: 1.5rem;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;

  /* font-family: inherit; */

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}
/* 
.btn:link,
.btn:visited {
  background-color: #e67e22;
  color: #fff;
} */

.btn:hover,
.btn:active {
  background-color: #aaa;
}

.works-link:hover,
.works-link:active {
  color: #fff;
}

/* .btn--outline:link,
.btn--outline:visited {
  color: #555;
} */

.btn--outline:hover,
.btn--outline:active {
  box-shadow: inset 0 0 0 3px #ddd;
}

.work-detail {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  padding-top: 1rem;
  line-height: 1.5;
}

/**************************/
/* certificates */
/**************************/

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 10rem;
}

.gallery-item {
  overflow: hidden;
  padding-bottom: 5rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.certificate-detail {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 3rem;
  line-height: 1.2;
}

.certificate-length {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  line-height: 1.2;
}

/**************************/
/* skills */
/**************************/

.section-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 3rem; */
  column-gap: 2rem;
  row-gap: 5rem;
}

.skills {
  margin: 0rem 10rem 20rem 10rem;
}

.container.skills {
  margin-bottom: 40rem;
  transition: 1s;
}

.skill-icon {
  color: #fff;
  background-color: #f4d3e9;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 2.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.skill-text {
  font-size: 1.5rem;
  /* letter-spacing: 0.1rem; */
  margin-bottom: 1.2rem;
}

.star {
  font-family: sans-serif;
  margin-bottom: 1rem;
}

.skill-detail {
  font-family: sans-serif;
  line-height: 1.5;
}

/**************************/
/* footer */
/**************************/

.footer {
  display: flex;
  width: 100%;
  padding: 15rem 0.5rem;
  /* background-color: #333; */
}

.contact {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;

  /* padding: 3rem; */
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  /* align-items: center; */
}

.social-icon {
  color: #fff;
  height: 2.4rem;
  width: 2.4rem;

  margin-bottom: 1rem;
}

.copyright {
  display: flex;
  font-size: 1rem;
  letter-spacing: 1px;
  justify-content: center;

  /* padding: 1 0.2rem; */

  /* line-height: 1.6; */
  color: #fff;
}

/* // topアニメーションに挑戦 //  */

/* .hero-description {
  font-family: sans-serif;
}

.hero-text p {
  display: inline-block;
  vertical-align: top;
  margin: 10rem auto;
}

.word {
  position: absolute;
  font-size: 1.5rem;
  width: 22rem;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.word-01 {
  color: #b1d1e4;
}

.word-02 {
  color: #f4d3e9;
}

.word-03 {
  color: #dd2d67;
} */

/* color: #B1D1E4 #F4D3E9 #DD2D67 */

/* change color  */

/* #E1F2F7 #EF0D50 #EB3A70 #E5BACE */

/* 
.footer {
  background-color: #333;
} */
